.game-main-page-content {
  align-items: initial;
  font-size: 2.5rem;
  height: 100vh;
  padding: 2%;

  .game-content {
    font-family: var(--ff-tertiary);
    align-items: flex-start;
    margin: auto 0;

    .main-game {
      margin: auto;
      font-size: 3rem;

      .word-wrapper {
        margin-top: 5%;

        .word-input {
          text-transform: uppercase;
          text-align: center;
          font-size: 1.5rem;
          min-width: 100%;
          min-height: 55px;
          margin-top: 7%;
          padding: 3%;
          opacity: 0.59;
          border-radius: 15px;
          box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
          background-color: var(--white);
          outline: none;
        }
      }
    }
  }
}
