.start-game-main-content {
  width: 100%;
  flex-grow: 1;

  input[type="text"] {
    font-size: 2.2rem;
    font-family: var(--ff-primary);
    color: var(--evergreen);
    padding: 1% 4% 1% 2%;
    margin-bottom: 1%;
    border-radius: 15px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    background-color: var(--white);
    opacity: 0.59;
  }

  select {
    flex-grow: 1;
    font-size: 2.2rem;
    font-family: var(--ff-primary);
    border-radius: 15px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    border: solid 1px var(--white);
    background: transparent;
    color: var(--cool-grey-two);
    padding: 1% 10% 1% 2%;
  }

  .start-btn {
    margin: 5% 0 2%;
  }
}
