/*
=============== 
Fonts
===============
*/
@font-face {
  font-family: 'BreamCatcher';
  src: url('assets/fonts/BreamCatcher/breamcatcher.ttf');
}
@font-face {
  font-family: 'LaserCorpsGradient';
  src: url('assets/fonts/LaserCorpsGrad/lasercorpsgrad.ttf');
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face { 
  font-family: 'Electrolize';
  src: url('assets/fonts/Electrolize/Electrolize-Regular.ttf');
}

/*
=============== 
Variables
===============
*/
:root {
  --ff-logo: 'LaserCorpsGradient';
  --ff-primary: 'Electrolize';
  --ff-secondary: 'RobotoRegular';
  --ff-tertiary: 'RobotoMedium';
  --white: #ffffff;
  --marine: #063c47;
  --black: #000000;
  --light-red: #ff5155;
  --cool-grey: #97a4a7;
  --cool-grey-two: #97a5a7;
  --evergreen: #032228;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--black);
}

body {
  height: 100%;
  width: 100%;
  background-image: url(./assets/background/Group_243.svg), linear-gradient(#000 5%, #032228, #063c47);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-red);
  font-size: 10px;
  font-family: var(--ff-primary), var(--ff-secondary), var(--ff-tertiary);
}

.App {
  text-align: center;
}